.app {
  display: relative;
}

.node {
  border: 1px solid blue;
  max-width: max-content;
  padding: .25em;
}

.node-form {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px dashed green;
}

.node-form label {
  text-transform: capitalize;
}
