.app {
  display: relative;
  height: 100vh;
  background: #eee;
}

.node {
  border: 1px solid blue;
  max-width: max-content;
  padding: .25em;
  margin: .5em .25em;
}

.node--selected {
  background-color: lightblue;
}

.node-form {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px dashed green;
}

.node-form label {
  text-transform: capitalize;
}

.tree-children {
  display: flex;
}

.tree-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.d3-tree {
  border-radius: 10px;
  box-shadow: 0 0 15px lightgrey;
  background: white;
}

.node-link {
  fill: none;
  stroke: #555;
  /* stroke-opacity: 0.4; */
  stroke-width: 5.5;
}

.node-card {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: .75rem;
  background: white;
  /* box-shadow: 0 0 15px lightergrey; */
}
